
:root {
    --primary: #017e84;
    --secondary: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 85%;
    padding: 0 10px;
    margin: auto;
}

header {
    padding: 10px 0;
    border-bottom: 1px solid #d1d1d1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 32px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-links .nav-link a {
    color: #2c2c2c;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
}

main {
}

.hero {
    background-image: url("./images/inventory_top_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}

.content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* margin-top: 80px; */
}

.content h1 {
    margin-top: 150px;
    font-size: 60px;
    font-weight: 500;
    /* line-height: 74px; */
    /* margin-bottom: 32px; */
}

.content .word {
    margin-top: 10px;
    font-size: 22px;
}

.sub-content {
    margin-top: 60px;
}

.button {
    padding: 12px 32px;
    width: 250px;
    max-width: 100%;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--secondary);
    
}

.sub-content p:nth-child(2) {
    margin-top: 20px;
    padding-left: 70px;
    font-weight: bold;
    color: var(--primary);
}

.sub-content p:nth-child(3) {
    margin-top: 30px;
    font-size: 15px;
}

.sub-content p:nth-child(3) strong {
    color: var(--primary);
}

.fit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.fit .laptop-screen {
    background-image: url("./images/laptop_screen.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 555px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fit img {
    width: 93%;
    height: 91%;
    margin-top: auto;
}

.section-1 {
    background-color: #e9ecef ;
}

.section-1-cont {
    padding: 90px 0;
    display: flex;
    gap: 90px;
}

.section-1-cont .left {
    width: 50%;
}

.section-1-cont .left h2 {
    font-size: 50px;
    font-weight: 500;
    width: 75%;
}

.section-1-cont .left h4 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    width: 85%;
}

.section-1-cont .left p {
    margin-top: 30px;
    font-size: 18px;
    width: 82%;
}

.section-1-cont .right {
    background-image: url(./images/inventory_video_thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 340px;
    width: 40%;
    border: 15px solid white;
    border-radius: 3px;
}

.section-1-cont .right .video-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 340px;
}

.section-1-cont .right .video-thumb .image {
    height: 150px;
}

.section-2-cont {
    padding: 90px 0;
    display: flex;
    gap: 95px;
}

.section-2-cont .image {
    width: 50%;
    /* height: 20%; */
}

.section-2-cont .image .inventory {
    height: 600px;
    width: 550px;
}

.section-2-cont .statement {
    width: 40%;
    margin-top: 50px;
}

.section-2-cont .statement h1 {
    font-size: 45px;
    font-weight: 500;
    width: 75%;
}

.section-2-cont .statement h4 {
    margin: 30px 0;
    font-size: 23px;
    font-weight: 500;
    /* width: 85%; */
}

.section-2-cont .statement p {
    /* margin-top: 30px; */
    font-size: 16px;
    min-height: 24px;
    color: #343a40;
    width: 90%;
    line-height: 20px;
}
.section-2-cont .statement .group {
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.section-2-cont .statement .group .Riva {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.section-2-cont .statement .group .Mario .app {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #343a40;
    font-size:  15px;
    line-height: 25px;
}

.section-2-cont .statement .group .Mario .simple {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #343a40;
    font-size: 15px;
    line-height: 25px;
}

.section-2-cont .statement .group .Mario .coo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #343a40;
    font-size: 14px;
    margin: 15px 0;
}

.section-2-cont .statement .group .Mario .agile {
    height: 20px;
    width: 60px;
    /* margin-top: 20px; */
}
/* Button */
/* Solid, text, outline, icon */

.btn {
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    background: none;
    font-weight: 600;
    border-radius: 4px;
}

.btn-solid--primary {
    background-color: var(--primary);
    color: var(--secondary);
}

.btn-outline--primary {
    border: 1px solid var(--primary);
    color: var(--primary);
}

/* Mobile */
@media (max-width: 600px) {
    .container {
        width: unset;
    }

    /* .nav {
        width: 100%;
    } */

    .nav-toggler span {
        display: block;
        width: 25px;
        margin-bottom: 3px;
        border-top: 3px solid #000;
    }
    .nav-toggler span:nth-child(3) {
        margin-bottom: 0;
    }

    nav .nav-links,
    nav .extra {
        display: none;
    }

    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: aquamarine; */
        /* margin-top: 80px; */
    }

    .content h1 {
        margin-top: 100px;
        font-size: 48px;
        font-weight: 500;
        color: var(--secondary);
        text-align: center;
        /* margin-bottom: 32px; */
    }

    .content h1 span {
        /* padding-left: 80px; */
        text-align: center;
    }

    .content .word {
        margin-top: 10px;
        font-size: 22px;
        /* padding-left: 60px; */
        text-align: center;
        color: var(--secondary);
    }

    .fit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -350px;
    }
    
    .fit .laptop-screen {
        background-image: url("./images/laptop_screen.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fit img {
        width: 90%;
        /* height: 30%; */
        /* margin-top: auto; */
    }

    .section-1 .container {
        width: 95%;
    }

    .section-1-cont {
        flex-direction: column;
        /* align-items: unset; */
    }
    
    .section-1-cont .left, .section-1-cont .right {
        width: 100%;
    }
    
    .section-1-cont .left h2 {
        width: unset;
        font-size: 35px;
        font-weight: 500;
    }
    
    .section-1-cont .left h4 {
        width: unset;
        font-size: 20px;
    }
    
    .section-1-cont .left p {
        width: unset;
        font-size: 16px;
    }

    .section-2 .container {
        width: 95%;
    }

    .section-2-cont .statement {
        width: unset;
    }

    .section-2-cont .statement h1 {
        font-size: 32px;
        width: 600px;
        line-height: 1.8;
        font-weight: 540;
    }

    .section-2-cont .statement h4 {
        width: 600px;
        font-size: 22px;
        font-weight: 400;
        margin: 3px 0 20px 0;
    }

    .section-2-cont .statement p {
        width: 100%;
    }

    .section-2-cont .image .inventory {
        width: 300px;
        height: 400px;
    }

    /* 70vh */
    /* height = 70vh */
    .hero {
        height: 80vh;
    }
}

/* Tablet only */
/* 55vh */
@media  (min-width: 768px) and (max-width: 1024px) {
    .hero {
        height: 70vh;
    }

    .section-2-cont .statement h1 {
        width: unset;
        font-size: 40px;
    }

    .section-2-cont .statement h4 {
        margin: 15px 0 20px 0;
    }

    .section-2-cont .statement p {
        width: 650px;
    }

    .section-2-cont .image .inventory {
        width: 650px;
        height: 700px;
    }
}

/* Tablet or larger */
@media (max-width: 1024px) {
    .container {
        width: unset;
    }

    nav .nav-links {
        gap: 28px;
        margin-right: 32px;
    }

    nav .logo {
        margin-right: auto;
    }

    .nav-links .nav-link a {
        font-size: 16px;
    }

    .hero {
        background: linear-gradient(150deg, #714b67 20%, #542d4b 80%);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: aquamarine; */
        /* margin-top: 80px; */
    }

    .content h1 {
        margin-top: 100px;
        font-size: 48px;
        font-weight: 500;
        color: var(--secondary);
        text-align: center;
        /* margin-bottom: 32px; */
    }

    .content h1 span {
        /* padding-left: 80px; */
    }

    .content .word {
        margin-top: 10px;
        font-size: 22px;
        text-align: center;
        color: var(--secondary);
    }

    .sub-content {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .sub-content p:nth-child(2) {
        margin-top: 20px;
        padding-left: 8px;
        font-weight: bold;
        color: var(--secondary);
    }

    
.sub-content p:nth-child(3) {
    margin-top: 30px;
    font-size: 15px;
    color: var(--secondary);
}

.sub-content p:nth-child(3) strong {
    color: var(--secondary);
}

.fit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -170px;
}

.fit .laptop-screen {
    background-image: url("./images/laptop_screen.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fit img {
    width: 93%;
    height: 92%;
    margin-top: auto;
}

.section-1-cont {
    flex-direction: column;
    /* align-items: unset; */
}

.section-1-cont .left, .section-1-cont .right {
    width: 100%;
}

.section-1-cont .left h2 {
    width: unset;
}

.section-1-cont .left h4 {
    width: unset;
}

.section-1-cont .left p {
    width: unset;
}

.section-2-cont {
    flex-direction: column-reverse;
    gap: 60px;
}

.section-2-cont .statement {
    width: unset;
    margin-top: unset;
}

.section-2-cont .statement .group .Mario .app {
    width: 75%;
}

}
