:root {
    --primary: #017e84;
    --secondary: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 85%;
    padding: 0 10px;
    margin: auto;
}

header {
    padding: 10px 0;
    border-bottom: 1px solid #d1d1d1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 32px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-links .nav-link a {
    color: #2c2c2c;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
}

main {
}

.hero {
    background-image: url("./images/inventory_top_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}

.content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* margin-top: 80px; */
}

.content h1 {
    margin-top: 150px;
    font-size: 60px;
    font-weight: 500;
    /* line-height: 74px; */
    /* margin-bottom: 32px; */
}

.content .word {
    margin-top: 10px;
    font-size: 22px;
}

.sub-content {
    margin-top: 60px;
}

.button {
    padding: 12px 32px;
    width: 250px;
    max-width: 100%;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--secondary);
}

.sub-content p:nth-child(2) {
    margin-top: 20px;
    padding-left: 70px;
    font-weight: bold;
    color: var(--primary);
}

.sub-content p:nth-child(3) {
    margin-top: 30px;
    font-size: 15px;
}

.sub-content p:nth-child(3) strong {
    color: var(--primary);
}

.fit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.fit .laptop-screen {
    background-image: url("./images/laptop_screen.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 555px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fit img {
    width: 93%;
    height: 91%;
    margin-top: auto;
}

.section-1 {
    background-color: #e9ecef;
}

.section-1-cont {
    padding: 90px 0;
    display: flex;
    gap: 90px;
}

.section-1-cont .left {
    width: 50%;
}

.section-1-cont .left h2 {
    font-size: 50px;
    font-weight: 500;
    width: 75%;
}

.section-1-cont .left h4 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    width: 85%;
}

.section-1-cont .left p {
    margin-top: 30px;
    font-size: 18px;
    width: 82%;
}

.section-1-cont .right {
    background-image: url(./images/inventory_video_thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 340px;
    width: 40%;
    border: 15px solid white;
    border-radius: 3px;
}

.section-1-cont .right .video-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 340px;
}

.section-1-cont .right .video-thumb .image {
    height: 150px;
}

.section-2-cont {
    padding: 90px 0;
    display: flex;
    gap: 95px;
}

.section-2-cont .image {
    width: 50%;
    /* height: 20%; */
}

.section-2-cont .image .inventory {
    height: 600px;
    width: 550px;
}

.section-2-cont .statement {
    width: 40%;
    margin-top: 50px;
}

.section-2-cont .statement h1 {
    font-size: 45px;
    font-weight: 500;
    width: 75%;
}

.section-2-cont .statement h4 {
    margin: 30px 0;
    font-size: 23px;
    font-weight: 500;
    /* width: 85%; */
}

.section-2-cont .statement p {
    /* margin-top: 30px; */
    font-size: 16px;
    min-height: 24px;
    color: #343a40;
    width: 90%;
    line-height: 20px;
}
.section-2-cont .statement .group {
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.section-2-cont .statement .group .Riva {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.section-2-cont .statement .group .Mario .app {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: oblique;
    color: #343a40;
    font-size: 15px;
    line-height: 25px;
}

.section-2-cont .statement .group .Mario .simple {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: oblique;
    color: #343a40;
    font-size: 15px;
    line-height: 25px;
}

.section-2-cont .statement .group .Mario .coo {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: oblique;
    color: #343a40;
    font-size: 14px;
    margin: 15px 0;
}

.section-2-cont .statement .group .Mario .agile {
    height: 20px;
    width: 60px;
    /* margin-top: 20px; */
}

.section-3-cont {
    padding: 90px 0 100px 0;
    display: flex;
    gap: 95px;
}

.section-3-cont .features {
    text-align: center;
    width: 100%;
}

.section-3-cont .features h1 {
    font-size: 50px;
    color: #212529;
    font-weight: 500;
}

.section-3-cont .features h4 {
    font-size: 25px;
    color: #212529;
    font-weight: 500;
    margin: 20px 0 50px 0;
}

.section-3-cont .features .list {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    /* gap: 5px; */
}

.section-3-cont .features .list .items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-3-cont .features .list .items span .icon {
    color: #5c5b80;
    font-size: 30px;
    padding: 25px 20px;
    background-color: #e9ecef;
    border-radius: 100%;
}

.section-3-cont .features .list .items span .arrow {
    font-size: 20px;
    width: 50px;
}

.section-3-cont .features .list .items span p {
    font-size: 20px;
    color: #212529;
    font-weight: 500;
}

.section-4 {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.section-4-cont {
    padding-top: 90px;
    display: flex;
    gap: 95px;
}


.section-4-cont .experience {
    text-align: center;
    width: 100%;
}

.section-4-cont .experience h1 {
    font-size: 48px;
    color: #212529;
    font-weight: 500;
}

.section-4-cont .experience h4 {
    font-size: 24px;
    color: #212529;
    font-weight: 500;
    margin: 16px 0 25px 0;
}

.section-4-cont .experience .p-1 {
    font-size: 16px;
    color: #343a40;
    font-weight: 500;
    margin-bottom: 8px;
}

.section-4-cont .experience .p-2 {
    font-size: 16px;
    color: #343a40;
    font-weight: 500;
    margin-bottom: 35px;
}

.section-4-cont .experience .internal {
    width: 100%;
    /* border: 1px solid black; */
}

.section-4-cont .experience .YourCompany {
    width: 90%;
    /* height: 70%; */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.section-5 .container {
    background-image: url(./images/report.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% auto;
    padding: 0 15px 260px;
    /* margin: 0 50px; */
}

.section-5-cont {
    padding-top: 90px;
    display: flex;
    /* gap: 95px; */
}

.section-5-cont .report {
    padding: 0 15px 40px;
}

.section-5-cont .report h1 {
    font-size: 48px;
    color: #212529;
    font-weight: 500;
    width: 40%;
}

.section-5-cont .report h4 {
    font-size: 24px;
    color: #212529;
    font-weight: 500;
    margin: 15px 0 25px 0;
}

.section-5-cont .report p {
    /* display: block; */
    font-size: 17px;
    width: 40%;
}

.section-6 {
    background-color: #E9ECEF;
    padding: 98px 0 48px;
}

.section-6 .container {
    padding: 0 15px;
    margin: 0 132px;
}

.text {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 500;
}

.section-6 .data {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    /* justify-content: center; */
    margin: 0 150px;
}

.section-6 .data .each {
    padding: 0 15px 40px;
}

.section-6 .data .each .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    position: relative;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    overflow: hidden;
    background-clip: border-box;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    /* word-wrap: break-word; */
    box-shadow: -40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;
}

.section-6 .data .each .card .card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 5px 15px;
}

.section-6 .data .each .card .card-top h4 {
    font-size: 23px;
    font-weight: 500;
    color: #212529;
    margin: 4px 0 0;
}

.section-6 .data .each .card .card-top h4 .sales {
    width: 48px;
    margin: 15px;
}

.section-6 .data .each .card .card-body {
    padding:  40px 20px;
}

.section-6 .data .each .card .card-body p {
    font-size: 17px;
    font-weight: lighter;
    color: #212529;
    line-height: 1.5;
    /* word-wrap: break-word; */
}

.section-6 .data .each .card .line {
    width: 100%;
    height: 0.3px; 
    background-color: #ddd;
    position: absolute;
    top: 85%; 
    transform: translateY(-50%);
}

.section-6 .data .each .card .card-footer {
    padding: 25px 20px 10px;
}

.section-6 .data .each .card .card-footer a {
    font-size: 17px;
    font-weight: 600;
    color: #017e84;
    text-decoration: none;
    /* margin-top: 20px; */
}

.section-6 .data .each .card .card-footer a:hover {
    color: #000;
}

.section-7 {
    background-image: url(./images/arch_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 98px 0 48px;
}

.section-7 .container {
    padding: 0;
    margin: 0;
    width: unset;
}

.section-7 .row {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    /* flex-wrap: wrap; */
}

.section-7 .row .single {
    padding: 0 15px 48px;
}

.section-7 .row .single .card {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 360px;
    position: relative;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    overflow: hidden;
    background-clip: border-box;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    /* word-wrap: break-word; */
    box-shadow: -40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;
}

.section-7 .row .single .card .card-top {
    position: relative;
    /* overflow: hidden; */
    /* text-align: center; */
    /* backface-visibility: hidden; */
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background:  */
}

.section-7 .row .single .card .card-top .cover {
    background-image: url(./images/florida-doors.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    width: 400px;
    height: 300px;
}

/* rgba(0, 0, 0, 0.6); Semi-transparent black background */

.section-7 .row .single .card .card-top h2 {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(213, 101, 62, 0.3) 30%, rgba(0, 160, 157, 0.3) 100%);
    /* color: #fff; Text color on the overl */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* text-align: center; */
    padding: 20px;
    font-size: 28px;
    font-weight: 500;
}

.section-7 .row .single .card .edge {
    position: absolute;
    width: 100%;
}

.section-7 .row .single .card .edge small {
    float: right;
    padding: 9px;
    background-color: white;
}

.section-7 .row .single .card .edge small b {
    font-size: 16px;
    color: #212529;
}

.section-7 .row .single .card .card-body {
    padding: 20px 20px 70px;
}

.section-7 .row .single .card .card-body p {
    /* display: flex; */
    font-size: 17px;
    margin: 0 0 16px;
    line-height: 1.5;
}

.section-7 .row .single .card .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.section-7 .row .single .card .card-footer a {
    font-size: 17px;
    font-weight: 600;
    color: #017e84;
    text-decoration: none;
}

.section-7 .row .single .card .card-footer .logo {
    width: 40px;
    height: 30px;
}

  

/* Button */
/* Solid, text, outline, icon */

.btn {
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    background: none;
    font-weight: 600;
    border-radius: 4px;
}

.btn-solid--primary {
    background-color: var(--primary);
    color: var(--secondary);
}

.btn-outline--primary {
    border: 1px solid var(--primary);
    color: var(--primary);
}

/* Mobile */
@media (max-width: 600px) {
    .container {
        width: unset;
    }

    /* .nav {
        width: 100%;
    } */

    .nav-toggler span {
        display: block;
        width: 25px;
        margin-bottom: 3px;
        border-top: 3px solid #000;
    }
    .nav-toggler span:nth-child(3) {
        margin-bottom: 0;
    }

    nav .nav-links,
    nav .extra {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: aquamarine; */
        /* margin-top: 80px; */
    }

    .content h1 {
        margin-top: 100px;
        font-size: 48px;
        font-weight: 500;
        color: var(--secondary);
        text-align: center;
        /* margin-bottom: 32px; */
    }

    .content h1 span {
        /* padding-left: 80px; */
        text-align: center;
    }

    .content .word {
        margin-top: 10px;
        font-size: 22px;
        /* padding-left: 60px; */
        text-align: center;
        color: var(--secondary);
    }

    .fit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -350px;
    }

    .fit .laptop-screen {
        background-image: url("./images/laptop_screen.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fit img {
        width: 90%;
        /* height: 30%; */
        /* margin-top: auto; */
    }

    .section-1 .container {
        width: unset;
    }

    .section-1-cont {
        flex-direction: column;
        /* padding: 40px; */
        /* align-items: unset; */
    }

    .section-1-cont .left,
    .section-1-cont .right {
        width: 100%;
    }

    .section-1-cont .left h2 {
        width: unset;
        font-size: 35px;
        font-weight: 500;
    }

    .section-1-cont .left h4 {
        width: unset;
        font-size: 20px;
        color: #212529;
        line-height: 1.2;
    }

    .section-1-cont .left p {
        width: unset;
        font-size: 16px;
        color: #212529;
    }

    .section-2-cont {
        flex-direction: column-reverse;
        gap: 60px;
        /* padding: 40px; */
    }

    .section-2-cont .image {
        width: 100%;
    }

    .section-2-cont .image .inventory {
        width: 100%;
        height: 70%;
    }

    .section-2-cont .statement {
        width: unset;
    }

    .section-2-cont .statement h1 {
        font-size: 32px;
        width: unset;
        line-height: 1.4;
        font-weight: 400;
    }

    .section-2-cont .statement h4 {
        /* width: 600px; OSHI */
        font-size: 22px;
        font-weight: 400;
        margin: 10px 0 20px 0;
        color: #212529;
    }

    .section-2-cont .statement p {
        width: 100%;
        color: #343a40;
        font-size: 16px;
    }

    .section-3-cont .features h1 {
        font-size: 30px;
    }

    .section-3-cont .features .list {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .section-4-cont .experience h1 {
        font-size: 35px;
        /* text-align: center; */
    }

    .section-5 .container {
        /* margin: 0 60px; */
        padding: 0 0 260px;
    }

    .section-5-cont .report h1 {
        font-size: 30px;
        width: unset;
    }
    
    .section-5-cont .report h4 {
        font-size: 21px;
    }

    .section-5-cont .report p {
        width: unset;
        font-size: 16px;
        line-height: 1.1;
    }

    .section-6 .container {
        margin: unset;
    }

    .text {
        font-size: 30px;
    }
    
    .section-6 .data {
        grid-template-columns: 1fr;
        margin: unset;
    }


    .hero {
        height: 80vh;
    }
}


    /* NONSENSE
    .section-2-cont .image .inventory {
        width: 300px;
        height: 400px;
    } */

    /* 70vh */
    /* height = 70vh */

/* Tablet only */
/* 55vh */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero {
        height: 70vh;
    }

    .section-1-cont {
        flex-direction: column;
        padding: 60px;
        /* align-items: unset; */
    }

    .section-2-cont {
        flex-direction: column-reverse;
        gap: 60px;
        padding: 60px;
    }

    .section-2-cont .statement h1 {
        width: unset;
        font-size: 40px;
    }

    .section-2-cont .statement h4 {
        margin: 15px 0 20px 0;
    }

    .section-2-cont .statement p {
        width: unset;
    }

    .section-2-cont .image {
        width: 100%;
    }

    .section-2-cont .image .inventory {
        width: 100%;
        height: 70%;
    }

    .section-3-cont {
        padding: 90px 30px;
    }

    .section-3-cont .features h1 {
        font-size: 37px;
    }

    .section-4-cont {
        padding: 90px 30px 0;
    }

    .section-4-cont .experience h1 {
        font-size: 38px;
    }

    .section-5 .container {
        margin: 0 60px;
    }

    .section-5-cont .report h1 {
        font-size: 40px;
        width: unset;
    }
    
    .section-5-cont .report h4 {
        font-size: 22px;
    }

    .section-5-cont .report p {
        width: unset;
        line-height: 1.1;
    }

    .section-6 .container {
        margin: 0 50px;
    }

    .text {
        font-size: 30px;
    }

    .section-6 .data {
        grid-template-columns: repeat(2 , 1fr);
        margin: unset;
    }
}

/* Tablet or larger */
@media (max-width: 1024px) {
    .container {
        width: unset;
    }

    nav .nav-links {
        gap: 28px;
        margin-right: 32px;
    }

    nav .logo {
        margin-right: auto;
    }

    .nav-links .nav-link a {
        font-size: 16px;
    }

    .hero {
        background: linear-gradient(150deg, #714b67 20%, #542d4b 80%);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: aquamarine; */
        /* margin-top: 80px; */
    }

    .content h1 {
        margin-top: 100px;
        font-size: 48px;
        font-weight: 500;
        color: var(--secondary);
        text-align: center;
        /* margin-bottom: 32px; */
    }

    .content h1 span {
        /* padding-left: 80px; */
    }

    .content .word {
        margin-top: 10px;
        font-size: 22px;
        text-align: center;
        color: var(--secondary);
    }

    .sub-content {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .sub-content p:nth-child(2) {
        margin-top: 20px;
        padding-left: 8px;
        font-weight: bold;
        color: var(--secondary);
    }

    .sub-content p:nth-child(3) {
        margin-top: 30px;
        font-size: 15px;
        color: var(--secondary);
    }

    .sub-content p:nth-child(3) strong {
        color: var(--secondary);
    }

    .fit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -170px;
    }

    .fit .laptop-screen {
        background-image: url("./images/laptop_screen.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fit img {
        width: 93%;
        height: 92%;
        margin-top: auto;
    }

    .section-1-cont .left,
    .section-1-cont .right {
        width: 100%;
    }

    .section-1-cont .left h2 {
        width: unset;
    }

    .section-1-cont .left h4 {
        width: unset;
    }

    .section-1-cont .left p {
        width: unset;
    }

    .section-2-cont .statement {
        width: unset;
        margin-top: unset;
    }

    .section-2-cont .statement .group .Mario .app {
        width: 100%;
    }

    .section-3-cont .features h4 {
        font-size: 23px;
    }

    .section-4-cont .experience h4 {
        font-size: 23px;
    }

    .section-4-cont .experience .p-1 {
        margin-bottom: 5px;
    }
}
